.git
.gitignore
.idea
.pytest_cache
.coverage
.mypy_cache
.ruff_cache
__pycache__
*.py[cod]
*.pyo
*.pyd
*.log

.env
.env.*
!.env.example

.venv
venv
env
ENV

htmlcov
build
dist
.cache

docs
admin-portal
hexalgon-landing

load_test.py
commit-msg.txt
